# Realizando o tratamento básico de dados com o banco de dados do carnaval de BH

In [1]:
# Importando biblioteca Pandas
import pandas as pd
from datetime import timedelta
import numpy as np

In [2]:
# Lendo csv do carnaval
pre_df= pd.read_csv('/dados/dataset_carnaval_20181.csv')

In [3]:
#Visualizando dados
pre_df.head()

,morador,numerocontrole,Bloco,DT_VISITA,DT_TERMINO,TEMPO_TOTAL_ENTREV,Idade,Pais,Estado,Cidade,...,T_citytour,T_visitacultural,T_compras,T_gastronomia,Principal_patrocinador,Outr_patrocinador,Genero,Esclaridade,Estado_civil,Faixa_renda
0,Morador,1,Tchanzinho Zona Norte,09/02/2018 17:39,09/02/2018 17:47,0:08:27,25,Brasil,Minas Gerais,Vespasiano,...,NaN,NaN,NaN,NaN,Prefeitura,NaN,Feminino,Ensino superior completo,Solteiro (a),"de 2 a 3 salarios (R$ 1875,00 – R$ 2862,00)"
1,Morador,2,Tchanzinho Zona Norte,09/02/2018 17:39,09/02/2018 17:51,0:11:21,32,Brasil,Minas Gerais,Belo Horizonte,...,NaN,NaN,NaN,NaN,Prefeitura,NaN,Feminino,Pos – Graduaçao – Mestrado,Solteiro (a),"de 4 a 5 salarios (R$ 3749,00 – R$ 4770,00)"
2,Morador,3,Tchanzinho Zona Norte,09/02/2018 17:40,09/02/2018 17:52,0:11:43,18,Brasil,Minas Gerais,Belo Horizonte,...,NaN,NaN,NaN,NaN,Skol,NaN,Feminino,Ensino superior incompleto,Solteiro (a),"de 5 a 6 salarios (R$ 4686,00 – R$ 5724,00)"
3,Morador,4,Tchanzinho Zona Norte,09/02/2018 17:43,09/02/2018 17:55,0:12:39,40,Brasil,Minas Gerais,Belo Horizonte,...,NaN,NaN,NaN,NaN,Brahma,NaN,Feminino,Ensino superior completo,Casado (a),"de 6 a 7 salarios (R$ 5623,00 – R$ 6678,00)"
4,Morador,5,Tchanzinho Zona Norte,09/02/2018 17:49,09/02/2018 17:58,0:08:49,47,Brasil,Minas Gerais,Belo Horizonte,...,NaN,NaN,NaN,NaN,Skol,NaN,Masculino,Ensino medio completo,Solteiro (a),"de 5 a 6 salarios (R$ 4686,00 – R$ 5724,00)"

In [4]:
# Procurando por duplicatas
pre_df.duplicated().value_counts()

False    1645
dtype: int64

In [5]:
# Observando tipos de colunas (Serão atualizadas todas referente a datas e tempo)
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1645 entries, 0 to 1644
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   morador                    1645 non-null   object
 1   numerocontrole             1645 non-null   int64
 2   Bloco                      1645 non-null   object
 3   DT_VISITA                  1645 non-null   object
 4   DT_TERMINO                 1645 non-null   object
 5   TEMPO_TOTAL_ENTREV         1645 non-null   object
 6   Idade                      1645 non-null   int64
 7   Pais                       1645 non-null   object
 8   Estado                     1640 non-null   object
 9   Cidade                     1640 non-null   object
 10  Bairro_BH                  1135 non-null   object
 11  Regiao_BH                  1135 non-null   object
 12  T_pernoite                 228 non-null    object
 13  T_qtpernoite               210 non-null    float64
 14  T_hospedagem               210 non-null    object
 15  T_transp                   211 non-null    object
 16  T_motivo                   229 non-null    object
 17  T_outromoivo               49 non-null     object
 18  Dias_carnaval              1645 non-null   int64
 19  Gasto_total                1623 non-null   object
 20  T_Hospedagem               40 non-null     float64
 21  Alimentacao                1559 non-null   float64
 22  T_Atrativos_passeios       181 non-null    float64
 23  Transporte_interno         1191 non-null   float64
 24  Compras                    513 non-null    float64
 25  Ingressos                  102 non-null    float64
 26  Outros                     244 non-null    float64
 27  Total                      1622 non-null   object
 28  Qtd_pessoas_gasto          1644 non-null   float64
 29  Fonte_carnaval             1645 non-null   object
 30  Participou_anosanteriores  1645 non-null   object
 31  Evolucao                   1211 non-null   object
 32  Motivo                     63 non-null     object
 33  Expectativas               1645 non-null   object
 34  Aval_geral                 1645 non-null   object
 35  Aval_banheiros             1645 non-null   object
 36  Aval_seguranca             1645 non-null   object
 37  Aval_precos                1645 non-null   object
 38  Proxima_edicao             1645 non-null   object
 39  Motivo_nao                 106 non-null    object
 40  Blocos_de_Rua              1645 non-null   object
 41  Escola_samba_caricato      1645 non-null   object
 42  Eventos_privados           1645 non-null   object
 43  Palcos                     1645 non-null   object
 44  T_visita_amigos            229 non-null    object
 45  T_citytour                 229 non-null    object
 46  T_visitacultural           229 non-null    object
 47  T_compras                  229 non-null    object
 48  T_gastronomia              229 non-null    object
 49  Principal_patrocinador     1645 non-null   object
 50  Outr_patrocinador          638 non-null    object
 51  Genero                     1645 non-null   object
 52  Esclaridade                1645 non-null   object
 53  Estado_civil               1645 non-null   object
 54  Faixa_renda                1645 non-null   object
dtypes: float64(9), int64(3), object(43)
memory usage: 707.0+ KB

In [6]:
# Padronizando colunas com letra minúscula
pre_df.columns=pre_df.columns.str.lower()

In [7]:
# Corrigindo e separando palavras com underline
pre_df=pre_df.rename(columns={"numerocontrole":"numero_controle", "esclaridade":"escolaridade", "outr_patrocinador":"outro_patrocinador", "participou_anosanteriores":"participou_anos_anteriores", "t_visitacultural":"t_visita_cultural", "t_citytour":"t_city_tour"})

In [8]:
pre_df['dt_visita']=pd.to_datetime(pre_df['dt_visita'], format='%d/%m/%Y %H:%M')
# Transformando coluna em tipo data

In [9]:
pre_df['dt_termino']=pd.to_datetime(pre_df['dt_termino'], format='%d/%m/%Y %H:%M')
# Transformando coluna em tipo data

In [10]:
pre_df['tempo_total_entrev'] =pd.to_timedelta(pre_df['tempo_total_entrev'])
# Transformando tipo de coluna em quantidade de tempo

In [11]:
pre_df['gasto_total']=pre_df['gasto_total'].fillna(0)
pre_df['gasto_total'] = pre_df['gasto_total'].str.replace(',', '.').astype(float) 
# Transformando tipo de coluna em valores flutuantes e preenchendo gastos vazios com zero.

In [12]:
pre_df['total']=pre_df['total'].fillna(0)
pre_df['total'] = pre_df['total'].str.replace(',', '.').astype(float) 
# Transformando tipo de coluna em valores flutuantes e preenchendo gastos vazios com zero.

In [13]:
# lista com o nome das colunas que devem ser transformadas
cols_to_transform = ['aval_geral', 'aval_banheiros', 'aval_seguranca', 'aval_precos']

# loop que percorre cada coluna e transforma os valores 'NR' em NaN
for col in cols_to_transform:
    pre_df[col] = pre_df[col].replace('NR', np.nan)

In [14]:
cols_to_transform = ['proxima_edicao', 'blocos_de_rua', 'escola_samba_caricato', 'eventos_privados', 'palcos', 't_visita_amigos', 't_city_tour', 't_visita_cultural', 't_compras', 't_gastronomia', 'morador']
# loop que percorre cada coluna e transforma os valores sim em True e nao em False
for col in cols_to_transform:
    pre_df[col] = pre_df[col].map({'Sim': True, 'Nao': False})

In [15]:
# Observando resultado
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1645 entries, 0 to 1644
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   morador                     0 non-null      object
 1   numero_controle             1645 non-null   int64
 2   bloco                       1645 non-null   object
 3   dt_visita                   1645 non-null   datetime64[ns]
 4   dt_termino                  1645 non-null   datetime64[ns]
 5   tempo_total_entrev          1645 non-null   timedelta64[ns]
 6   idade                       1645 non-null   int64
 7   pais                        1645 non-null   object
 8   estado                      1640 non-null   object
 9   cidade                      1640 non-null   object
 10  bairro_bh                   1135 non-null   object
 11  regiao_bh                   1135 non-null   object
 12  t_pernoite                  228 non-null    object
 13  t_qtpernoite                210 non-null    float64
 14  t_hospedagem                210 non-null    object
 15  t_transp                    211 non-null    object
 16  t_motivo                    229 non-null    object
 17  t_outromoivo                49 non-null     object
 18  dias_carnaval               1645 non-null   int64
 19  gasto_total                 1623 non-null   float64
 20  t_hospedagem                40 non-null     float64
 21  alimentacao                 1559 non-null   float64
 22  t_atrativos_passeios        181 non-null    float64
 23  transporte_interno          1191 non-null   float64
 24  compras                     513 non-null    float64
 25  ingressos                   102 non-null    float64
 26  outros                      244 non-null    float64
 27  total                       1622 non-null   float64
 28  qtd_pessoas_gasto           1644 non-null   float64
 29  fonte_carnaval              1645 non-null   object
 30  participou_anos_anteriores  1645 non-null   object
 31  evolucao                    1211 non-null   object
 32  motivo                      63 non-null     object
 33  expectativas                1645 non-null   object
 34  aval_geral                  1615 non-null   object
 35  aval_banheiros              1641 non-null   object
 36  aval_seguranca              1638 non-null   object
 37  aval_precos                 1644 non-null   object
 38  proxima_edicao              1645 non-null   bool
 39  motivo_nao                  106 non-null    object
 40  blocos_de_rua               1645 non-null   bool
 41  escola_samba_caricato       1645 non-null   bool
 42  eventos_privados            1645 non-null   bool
 43  palcos                      1645 non-null   bool
 44  t_visita_amigos             229 non-null    object
 45  t_city_tour                 229 non-null    object
 46  t_visita_cultural           229 non-null    object
 47  t_compras                   229 non-null    object
 48  t_gastronomia               229 non-null    object
 49  principal_patrocinador      1645 non-null   object
 50  outro_patrocinador          638 non-null    object
 51  genero                      1645 non-null   object
 52  escolaridade                1645 non-null   object
 53  estado_civil                1645 non-null   object
 54  faixa_renda                 1645 non-null   object
dtypes: bool(5), datetime64[ns](2), float64(11), int64(3), object(33), timedelta64[ns](1)
memory usage: 650.7+ KB

In [16]:
df=pre_df

In [17]:
df.to_csv('df.csv')